@import "tailwindcss";

:root {
  /* Forge Colors */
  --color-bg: #080808;
  --color-surface: #151515;
  --color-surface-light: #1c1c1c;

  --color-text: #f5f5f5;
  --color-text-muted: #8a8a8a;

  --color-accent: #f59e0b;
  --color-accent-dark: #b45309;

  /* Forge UI */
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
}


@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}